/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fondo principal */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #bb2ad1, #ee58ff);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-box {
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 40px auto 10px auto;
}

.titulo-box h1 {
    margin: 0;
    font-size: 42px;
}


/* Contenedor principal */

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 700px;
}


/* Título */

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}


/* Párrafos */

p {
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.5;
}


/* Botones */

.btn {
    display: block;
    margin: 20px auto;
    padding: 15px;
    width: 220px;
    background: rgb(243, 88, 209);
    color: #333;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.3s;
}


/* Efecto hover */

.btn:hover {
    background: #c63439;
    color: black;
    transform: scale(1.08);
}


/* Responsive */

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }
    h1 {
        font-size: 30px;
    }
    .btn {
        width: 100%;
    }
}